{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card card-dark">
            {% if petition.category.petition_set.with_signature_count.all|length >= 2 %}
                {% for pet in petition.category.petition_set.with_signature_count.all %}
                {{pet}}
                (<a href="{% url 'signatures:list' slug=pet.slug %}">{{pet.signature_count}} {% trans 'of signatures' %}</a>,
                <a href="{% url 'signatures:text' slug=pet.slug %}">{% trans 'Text' %}</a>
                {% if pet.active %},
                <a href="{% url 'signatures:form' slug=pet.slug %}">{% trans 'Sign' %}</a>{% endif %})
                {% endfor %}
            {% endif %}
            <h2>{{object.title}}</h2>
            {{object.text|safe}}
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card card-light">
            <a href="{% url 'signatures:list' slug=object.slug %}">
            <h1 class="text-center">{{petition.signature_set.count}}</h1>
            <h2 class="text-center">{% trans 'of signatures' %}</h2>
            </a>
        </div>
        <div class="card card-brand">
            {% if object.active %}
                {% crispy form %}
            {% else %}
                {{ object.side_text }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
